certifi==2018.11.29
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.2
django-allauth==0.38.0
gunicorn==19.9.0
idna==2.8
oauthlib==2.1.0
psycopg2-binary==2.7.5
PySocks==1.6.8
python3-openid==3.1.0
pytz==2018.7
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.0.0
six==1.12.0
urllib3==1.24.1
whitenoise==4.1.2
